.c-up-row {
    margin-top: 1em;
}

.c-down-row {
    margin-top: 1em;
}

.c-list {
    overflow-y: auto;
    height: 56vh;
    max-height: 56vh;
}

.c-btn {
    width: 100%;
}

.c-navbar {
    background-color: black !important;
}

.c-form-textarea {
    background: white !important;
    border-color: #cccccc !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.c-help-btn {
    padding: .1rem .1rem !important;
    margin: 0;
}

.c-help-card {
    padding: .1rem !important;
}