.c-up-row {
    margin-top: 1em;
}

.c-down-row {
    margin-top: 1em;
}

.c-list {
    overflow-y: auto;
    max-height: 60vh;
}

.c-help-btn {
    padding: .1rem .1rem !important;
    margin: 0;
}

.c-help-card {
    padding: .1rem !important;
}