<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BeNone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <link href="{{ url_for('static', filename='benone.png') }}" rel="shortcut icon">

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <!-- Load axios for communication with server -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<b-navbar id="navbar" sticky="true" toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand class="center-text" href="{{ home }}">
        <b-img
                class="d-inline-block align-top"
                height="45" rounded
                src="{{ url_for('static', filename='benone.png') }}"
                width="45">
        </b-img>
    </b-navbar-brand>
    <b-navbar-nav class="ml-auto">
        <b-nav-item>
            <b-button
                    title="Help"
                    v-b-modal.help-modal
                    v-b-tooltip.hover
                    variant="outline-success">Help
            </b-button>
        </b-nav-item>
        <b-modal id="help-modal" ok-only size="lg" title="Help">
            {{ help | safe }}
        </b-modal>
    </b-navbar-nav>
</b-navbar>
    <div class="container">
        <!-- upper row containing plot and list of files --->
        <div class="row c-up-row">
            <!-- plot --->
            <div class="col-9">
                <div>
                    <canvas height="200" id="chart"></canvas>
                </div>
            </div>
            <!-- list of files --->
            <div class="col-3">
                <h4>Available files</h4>
                <b-list-group class="border border-dark c-list" id="files-section">
                    <b-list-group-item :class="{'active': selected == index}" @click="select_file(file)"
                                       class="list-group-item-action" v-for="(file, index) in files">
                        <b-row class="">
                            [[ file ]]
                        </b-row>
                    </b-list-group-item>
                </b-list-group>
            </div>
        </div>
        <!-- bottom row containing statistics and controls --->
        <div class="row c-down-row">
            <!-- statistics --->
            <div class="col-9">
                <b-form-group id="analysis-section">
                    <b-card :bg-variant="ben.variant" class="text-center" text-variant="white" v-model="ben">
                        <b-card-text>Benford's law compliant: [[ ben.value ]]% (Two-sample Kolmogorov-Smirnov test
                            p-value = [[ ben.pvalue]])
                        </b-card-text>
                    </b-card>
                    <b-form-textarea
                            max-rows="3"
                            placeholder=""
                            rows="3"
                            v-model="stats"
                    ></b-form-textarea>
                </b-form-group>
            </div>
            <!-- controls --->
            <div class="col-3">
                <b-overlay :show="show" id="file-upload" rounded="sm">
                    <b-input-group>
                        <b-form-file
                                class="m-1"
                                drop-placeholder="Drop here..."
                                placeholder="File"
                                v-model="file"
                        ></b-form-file>
                        <b-input-group-append>
                            <b-button @click="upload()" class="m-1" variant="primary">Upload</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-overlay>

                <b-input-group id="file-columns">
                    <b-form-select :options="columns" @change="update_chart()" class="m-1"
                                   v-model="selected_col"></b-form-select>
                </b-input-group>

                <b-overlay :show="show" id="file-analyze" rounded="sm">
                    <b-input-group>
                        <b-form-select :options="extensions" class="m-1" v-model="selected_ext"></b-form-select>
                        <b-input-group-append>
                            <b-button @click="analyze()" class="m-1" variant="danger">Analyze</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-overlay>
            </div>
        </div>
    </div>

    <!-- Load vue cookies for storing user id -->
    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>

    <!-- Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

    <!-- Load material design icons -->
    <link href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet" type="text/css"/>

<!-- Load script with all vue js objects -->
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>