<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BeNone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <!-- Load axios for communication with server -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Load vue cookies for storing user id -->
    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>

    <!-- Load material design icons -->
    <link href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <b-navbar toggleable="lg" type="dark" variant="dark" id="navbar" sticky="true">
        <b-navbar-brand href="{{ home }}">BeNone</b-navbar-brand>
        <b-navbar-nav class="ml-auto">
            <b-nav-item><b-button
                    v-b-tooltip.hover
                    title="Help"
                    variant="outline-success"
                    @click="help()">Help
            </b-button></b-nav-item>
        </b-navbar-nav>
    </b-navbar>

    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md">
                <b-list-group class="border border-dark" id="files-section">
                    <b-form-file
                            :state="Boolean(file)"
                            drop-placeholder="Drop file here..."
                            placeholder="Choose a file or drop it here..."
                            v-model="file"
                    ></b-form-file>
                    <b-button variant="outline-success" @click="upload()">Upload</b-button>
                    <b-form-select :options="extensions" v-model="selected_ext"></b-form-select>
                    <b-button @click="analyze()" variant="success">Analyze</b-button>
                </b-list-group>
            </div>
            <div class="col-md">
                <b-list-group class="border border-dark" id="analysis-section">
                    <b-form-textarea
                            id="stats"
                            max-rows="6"
                            placeholder=""
                            rows="3"
                            v-model="stats"
                    ></b-form-textarea>
                </b-list-group>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>